
<h3><%= @user_category.category.name %></h3>


<% if !@user_category.tasks.empty?%>
  <%= line_chart [
    {name: "Tasks created", data: @user_category.tasks.group("strftime('%Y-%m-%d', tasks.created_at)").count},
    {name: "Tasks completed", data: @user_category.tasks.where(status: "completed").group("strftime('%Y-%m-%d', tasks.modified_at)").count},
    {name: "Tasks abandoned", data: @user_category.tasks.where(status: "abandoned").group("strftime('%Y-%m-%d', tasks.modified_at)").count}
  ] %>
<% end %>

