<ul class="list-group">
  <h3>Completed</h3>
  <% @entries.where(status: "completed").each do |entry| %>
    <li class="list-group-item"><%= entry.title %></li>
  <% end %>
  <h3>Abandoned</h3>
  <% @entries.where(status: "abandoned").each do |entry| %>
    <li class="list-group-item"><%= entry.title %></li>
  <% end %>
  <h3>Unsure</h3>
  <% @entries.where(status: "unsure").each do |entry| %>
    <li class="list-group-item"><%= entry.title %></li>
  <% end %>
</ul>
