<% if @tasks.empty? %>
  <h3>You do not have any tasks!</h3>
<% else %>
  <ul class="list-group">
    <h3>Incomplete</h3>
    <% @tasks.incomplete.each do |task| %>
      <li class="list-group-item"><%= task.title %></li>
    <% end %>
    <h3>Completed</h3>
    <% @tasks.completed.each do |task| %>
      <li class="list-group-item"><%= task.title %></li>
    <% end %>
    <h3>Abandoned</h3>
    <% @tasks.abandoned.each do |task| %>
      <li class="list-group-item"><%= task.title %></li>
    <% end %> 
  </ul>
<% end %>