<div class='container-fluid'>
  <h1>My categories</h1>
  <div class="row centered">
    <% @user.categories.each do |category|%>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-1 categories">
        <h4><%= category.name %></h4>
      </div>
    <% end %>
  </div>
</div>

