<!--  DASHBOARD -->

  <h1 class="text-center m-b-50-px">My categories</h1>

  <div class='container'>
    <div class="row">
      <% @user.user_categories.each do |user_category|%>
        
        <a href=<%= user_user_category_path(@user, user_category) %>>
          <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 categories" id="category-<%= user_category.category_id %>"><p><%= user_category.category.name %>
            <span class="pull-right"><%= user_category.tasks.where(status: "incomplete").count%></span></p>                 
          </div>
        </a>
        
      <% end %>
    </div>
  </div>



