<div class=' categories_container container-fluid'>
  <h1 class="text-center">My categories</h1>
  <div class="row centered">
    <% @user.user_categories.each do |user_category|%>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 categories" id="category-<%= user_category.category_id %>">
        <h4><%= link_to user_category.category.name, user_user_category_path(@user, user_category) %><span class="tag tag-default tag-pill pull-right"><%= user_category.tasks.where(status: "incomplete").count%></span></h4>                  
      </div>
    <% end %>
  </div>
</div>

