    
<div class='jumbotron text-center m-b-0-px jumbotron-main'>
  <div class="container">
    <h1 class="m-t-50-px">Welcome to Planify</h1>
    <!-- <button class="btn btn-lg bt-larger m-t-50-px">Start setting goals!</button> -->
    <button type="button" class="btn btn-lg bt-larger m-t-50-px" data-toggle="modal" data-target="#signUpModal">Start setting goals!</button>
  </div>
</div>

<div class='jumbotron text-center hidden-xs jumbotron-quote'>
  <div class="container">
    <div class="row">
    <div class="p-x-2rem">

      <p>“Create a vision and never let the environment, other people’s beliefs, or the limits of what has been done in the past shape your decisions.” – Tony Robbins</p>
    </div>
    </div>
  </div>
</div>


<div class="container font-blocks">
  <div class="row">

    <div class="col-sm-6 " >
      <div class="goal-img m-b-30-px">
      </div>
      <div class="text-center m-b-30-px">
        <p class="h4 font-blocks-h">Goals</p>
        <p class="m-b-30-px">Planify will help you keep track of your goals, and see if you are actively pursuing them.</p>
      </div>
    </div>

    <div class="col-sm-6 " >
      <div class="exercise-img m-b-30-px">
      </div>
      <div class="text-center m-b-30-px">
        <p class="h4 font-blocks-h">Accomplishment</p>
        <p class="">Planify will also help you make sure that your accomplishments are meaningful and bring you fullfilment.</p>
      </div>
    </div>
  </div>
</div>

<div class='jumbotron text-center jumbotron-quote'>
  <div class="container">
    <div class="row">
    <p class="h4 m-b-30-px">What people are saying</p>
    <div class="col-sm-7 m-x-2rem img-circle portrait">
      
    </div>
    <div class="col-sm-7 p-x-2rem v-a-c m-t-50-px">
      
      <p class="">“I really love Planify, it helps me accomplish more by allowing me to always know how many goals I set and in what category of my life. Thumbs up!” - Matthew.</p>
    </div>
    </div>
  </div>
</div>


<div class='jumbotron text-center jumbotron-bottom-action font-blocks'>
  <div class="container">
    <div class="row">
      <div class="p-x-2rem">
        <p>Join Matthew and many other users to start making progress toward the life you envision for yourself. Planify will help you remember the goals you set and why they are meaningful.</p>
      </div>
      <div class="p-x-2rem">
        <!-- <button class="btn btn-lg bt-larger m-t-50-px">Create on account!</button> -->
        <button type="button" class="btn btn-lg bt-larger m-t-50-px" data-toggle="modal" data-target="#signUpModal">Create on account!</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer jumbotron-quote text-center">
  <div class="container">
    <div class="row">
      <div class="">
        <p class="text-muted p-y-20">© 2016 <span class="color-c7">Planify</span>, made by <span class="color-c7">Greg Marquet</span></p>
      </div>
      <div class="pull-right">
        <a href="http://gregmarquet.com"><i class="icon-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>





    
  <!-- </div> -->
