<div class='background'>
  <div class='container'>
    <div id='centered-form-container'>
      <div class='jumbotron' id='home-jumbotron'>
        <div id='welcome-screen'>
          <h1>Welcome to Planify</h1>
        </div>
      </div>
    </div>
  </div>
</div>