
  <!-- <div class='container'> -->
    
      <div class='jumbotron text-center m-b-0-px' id="jumbotron-main">
        <div class="container">
          <h1 class="m-t-50-px">Welcome to Planify</h1>
          <button class="btn btn-lg bt-larger m-t-50-px">Start setting goals!</button>
        </div>
      </div>

      <div class='jumbotron text-center hidden-xs' id="jumbotron-quote">
        <div class="container">
          <div class="row">
          <div class="p-x-2rem">

            <p>“Create a vision and never let the environment, other people’s beliefs, or the limits of what has been done in the past shape your decisions.” – Tony Robbins</p>
          </div>
          </div>
        </div>
      </div>

<!-- <div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../images/Goals.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Goals</h4>
        <p class="card-text">Planify will help you keep track of your goals, and see if you are actively pursuing them.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../images/Exerise.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Accomplishment</h4>
        <p class="card-text">Planify will also help you make sure that your accomplishments are meaningful and bring you fullfilment.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="container font-blocks">
<div class="row">

  <div class="col-sm-6 " >
    <div class="goal-img m-b-30-px">
    </div>
    <div class="text-center m-b-30-px">
      <p class="h4 font-blocks-h">Goals</p>
      <p class="m-b-30-px">Planify will help you keep track of your goals, and see if you are actively pursuing them.</p>
    </div>
  </div>

  <div class="col-sm-6 " >
    <div class="exercise-img m-b-30-px">
    </div>
    <div class="text-center m-b-30-px">
      <p class="h4 font-blocks-h">Accomplishment</p>
      <p class="">Planify will also help you make sure that your accomplishments are meaningful and bring you fullfilment.</p>
    </div>
  </div>
</div>
</div>





    
  <!-- </div> -->
