.navbar {
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 1.5em;
}

.task-list {
  border: 1px solid red;
}

.list-group-item{
  font-size: 1.2em;
  background-color: #f8f8f8;
  color: #333333;
}

.list-group a .descriptions{
  font-size: 0.8em;
  padding-left: 10px;
  color: #a1a1a1;
  
}

.categories {
  min-height: 200px;
  max-width: 470px;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 10px;
  // line-height: 100px;
}

.categories {
  // vertical-align: middle;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  // line-height: 300px;
}

.categories span {

}

.categories p {
  background-color: white;
  opacity: 0.5;
  margin: -10px -10px -35px -10px;
  padding: 0 10px;
}

.category-text {
  font-size: 20px;
}

.m-t-50-px {
  margin-top: 50px;
}

.m-b-50-px {
  margin-bottom: 50px;
}

.m-b-30-px {
  margin-bottom: 30px;
}

.m-b-0-px {
  margin-bottom: 0px;
}

.m-x-2rem {
  margin: 0 4rem;
}

.p-y-20 {
  padding: 20px 0;
}

.p-l-30 {
  padding: 0 15px 0 30px;
}

.jumbotron-quote {
  background: #1E1E1E;
  font-family: PTSerif-Regular;
  color: #BBBBBB; 
}

.jumbotron-main{
  background: url(image-path("web-2-coffee-with-notepad-and-pen.jpg"));
  background-position: center;
  background-size: cover;
  height: 600px;
  opacity: 0.80;
}

.jumbotron-bottom-action {
  background: transparent;
}

.bt-larger {
  padding: 18px 28px;
  font-size: 24px;
  border-radius: 40px;
  background-color: pink;
}

.border {
  border: 1px solid red;
}

.underlined {
  font-style: italic;
  // text-decoration: underline;

}

.goal-img {
  background: url(image-path("Goals.jpg"));
  background-position: center;
  background-size: cover;
  height: 300px;
}

.exercise-img {
  background: url(image-path("Exercise.jpg"));
  background-position: center;
  background-size: cover;
  height: 300px;
}

.font-blocks {
  font-family: PTSerif-Regular;
  font-size: 20px;
  color: #494849;
}

.font-blocks-h {
  font-family: PTSerif-Regular;
  font-size: 24px;
  color: #494849;
}

.portrait {
  background: url(image-path("portrait-1.jpg"));
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.v-a-c {
  vertical-align: center;
}

.color-7 {
  color: #777;
}

.color-c7 {
  color: #c7c7c7;
}

.color-red {
  color: red;
}

.footer {
  font-size: 1em;
}

.icon-twitter {
  background: url(image-path("twitter.png"));
  color: white;
  height: 30px;
  width: 30px;

}

#category-1 {
  background: url(image-path("Fitness&body.jpg"));
  background-position: center;
  background-size: cover;
  // float: left;
  // margin-left: 2rem;
  // min-height: 100px;
  // margin-left: 4rem;
  // margin-right: 10rem;
}

#category-2 {
  background: url(image-path("Mind&Soul.jpg"));
  background-position: center;
  background-size: cover;
  // float: right;
  // margin-right: 2rem;
  // min-height: 100px;
}

#category-3 {
  background: url(image-path("Love.jpg"));
  background-position: center;
  background-size: cover;
  // float: left;
  // min-height: 100px;
}

#category-4 {
  background: url(image-path("Friends&Family2.jpg"));
  background-position: center;
  background-size: cover;
  // float: right;
  // min-height: 100px;
}

#category-5 {
  background: url(image-path("Career.jpg"));
  background-position: center;
  background-size: cover;
  // min-height: 100px;
}

#category-6 {
  background: url(image-path("finance.jpg"));
  background-position: center;
  background-size: cover;
  // min-height: 100px;
}

#category-7 {
  background: url(image-path("PersonalGrowth2.jpg"));
  background-position: center;
  background-size: cover;
  // min-height: 100px;
}

.list-group a {
  text-decoration: none;
}

