.navbar {
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 1.5em;
}

.task-list {
  border: 1px solid red;
}
.row {
  //border: 1px solid blue;
}
.list-group-item{
  font-size: 1.2em;
  background-color: #f8f8f8;
}

.categories {
  border: 1px solid red;
  border-radius: 3px;
  //margin-bottom: 50px;
}

.categories_container{
  //border: 1px solid red;
}

.m-b-50-px {
  margin-bottom: 50px;
}