// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }


html,
body {
  margin:0;
  padding:0;
  height:100%;
}

///////////// Application //////////////

.navbar {
  font-size: 1.5em;
}

.navbar-brand {
  font-size: 1.5em;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding-bottom:100px; /* Height of the footer element or more */
}
#footer {
  width:100%;
  // height:100px;
  position:absolute;
  bottom:0;
  left:0;
}

.footer {
  font-size: 1em;
  
}

/////////// Welcome Page /////////////// 

.goal-img {
  background: url(image-path("Goals.jpg"));
  background-position: center;
  background-size: cover;
  height: 300px;
}

.exercise-img {
  background: url(image-path("Exercise.jpg"));
  background-position: center;
  background-size: cover;
  height: 300px;
}

.portrait {
  background: url(image-path("portrait-1.jpg"));
  background-position: center;
  background-size: cover;
  height: 12em;
  width: 12em;
}

.jumbotron-quote {
  background: #1E1E1E;
  font-family: PTSerif-Regular;
  color: #BBBBBB; 
}

.jumbotron-main{
  background: url(image-path("web-2-coffee-with-notepad-and-pen.jpg"));
  background-position: center;
  background-size: cover;
  height: 600px;
  opacity: 0.80;
}

.jumbotron-bottom-action {
  background: transparent;
}

.bt-larger {
  padding: 18px 28px;
  font-size: 24px;
  border-radius: 40px;
  background-color: pink;
}

.font-blocks {
  font-family: PTSerif-Regular;
  font-size: 20px;
  color: #494849;
}

.font-blocks-h {
  font-family: PTSerif-Regular;
  font-size: 24px;
  color: #494849;
}

/////////// Dashboard ///////////////

#category-1 {
  background: url(image-path("Fitness&body.jpg"));
  background-position: center;
  background-size: cover;
}

#category-2 {
  background: url(image-path("Mind&Soul.jpg"));
  background-position: center;
  background-size: cover;
}

#category-3 {
  background: url(image-path("Love.jpg"));
  background-position: center;
  background-size: cover;
}

#category-4 {
  background: url(image-path("Friends&Family2.jpg"));
  background-position: center;
  background-size: cover;
}

#category-5 {
  background: url(image-path("Career.jpg"));
  background-position: center;
  background-size: cover;
}

#category-6 {
  background: url(image-path("finance.jpg"));
  background-position: center;
  background-size: cover;
}

#category-7 {
  background: url(image-path("PersonalGrowth2.jpg"));
  background-position: center;
  background-size: cover;
}

.categories {
  min-height: 200px;
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  
} 

.categories p {
  background-color: white;
  opacity: 0.5;
  margin: -10px -10px -35px -10px;
  padding: 0 10px;
}

.category-text {
  font-size: 20px;
}


/////////// user_categories show and tasks index /////////////// 


.list-group-item{
  font-size: 1.2em;
  background-color: #f8f8f8;
  color: #333333;
}

.list-group-item .descriptions{
  font-size: 0.8em;
  padding-left: 10px;
  color: #a1a1a1;
  
}

.list-group a {
  text-decoration: none;
}

/////////// general classes /////////////// 

.m-t-50-px {
  margin-top: 50px;
}

.m-b-50-px {
  margin-bottom: 50px;
}

.m-b-30-px {
  margin-bottom: 30px;
}

.m-b-0-px {
  margin-bottom: 0px;
}

.m-x-2rem {
  margin: 0 4rem;
}

.m-r-minus15px {
    margin-right: -15px;
    margin-left: 0px;
}

.p-r-0 {
  padding-right: 0;
}

.p-y-20 {
  padding: 20px 0;
}

.p-l-30 {
  padding: 0 15px 0 30px;
}

.underlined {
  font-style: italic;
}

.color-7 {
  color: #777;
}

.color-c7 {
  color: #c7c7c7;
}

.color-red {
  color: red;
}


