<h3>My Stats</h3>
<p>The category for which you have created the most entries is <%= @category_with_most_entries.name %></p>
<p>The category for with the most completed entries is <%= @category_with_most_completed_entries.name %></p>